/*

   DISPLAY
   Docs: http://tachyons.io/docs/layout/display

   Base:
    d = display

   Modifiers:
    n     = none
    b     = block
    ib    = inline-block
    it    = inline-table
    t     = table
    tc    = table-cell
    t-row          = table-row
    t-columm       = table-column
    t-column-group = table-column-group

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

.dn {              display: none; }
.di {              display: inline; }
.db {              display: block; }
.dib {             display: inline-block; }
.dit {             display: inline-table; }
.dt {              display: table; }
.dtc {             display: table-cell; }
.dt-row {          display: table-row; }
.dt-row-group {    display: table-row-group; }
.dt-column {       display: table-column; }
.dt-column-group { display: table-column-group; }

/*
  This will set table to full width and then
  all cells will be equal width
*/
.dt--fixed {
  table-layout: fixed;
  width: 100%;
}

@media (--breakpoint-not-small) {
  .dn-ns {              display: none; }
  .di-ns {              display: inline; }
  .db-ns {              display: block; }
  .dib-ns {             display: inline-block; }
  .dit-ns {             display: inline-table; }
  .dt-ns {              display: table; }
  .dtc-ns {             display: table-cell; }
  .dt-row-ns {          display: table-row; }
  .dt-row-group-ns {    display: table-row-group; }
  .dt-column-ns {       display: table-column; }
  .dt-column-group-ns { display: table-column-group; }

  .dt--fixed-ns {
    table-layout: fixed;
    width: 100%;
  }
}

@media (--breakpoint-medium) {
  .dn-m {              display: none; }
  .di-m {              display: inline; }
  .db-m {              display: block; }
  .dib-m {             display: inline-block; }
  .dit-m {             display: inline-table; }
  .dt-m {              display: table; }
  .dtc-m {             display: table-cell; }
  .dt-row-m {          display: table-row; }
  .dt-row-group-m {    display: table-row-group; }
  .dt-column-m {       display: table-column; }
  .dt-column-group-m { display: table-column-group; }

  .dt--fixed-m {
    table-layout: fixed;
    width: 100%;
  }
}

@media (--breakpoint-not-medium) {
  .dn-nm {              display: none; }
  .di-nm {              display: inline; }
  .db-nm {              display: block; }
  .dib-nm {             display: inline-block; }
  .dit-nm {             display: inline-table; }
  .dt-nm {              display: table; }
  .dtc-nm {             display: table-cell; }
  .dt-row-nm {          display: table-row; }
  .dt-row-group-nm {    display: table-row-group; }
  .dt-column-nm {       display: table-column; }
  .dt-column-group-nm { display: table-column-group; }

  .dt--fixed-nm {
    table-layout: fixed;
    width: 100%;
  }
}

@media (--breakpoint-large) {
  .dn-l {              display: none; }
  .di-l {              display: inline; }
  .db-l {              display: block; }
  .dib-l {             display: inline-block; }
  .dit-l {             display: inline-table; }
  .dt-l {              display: table; }
  .dtc-l {             display: table-cell; }
  .dt-row-l {          display: table-row; }
  .dt-row-group-l {    display: table-row-group; }
  .dt-column-l {       display: table-column; }
  .dt-column-group-l { display: table-column-group; }

  .dt--fixed-l {
    table-layout: fixed;
    width: 100%;
  }
}

@media (--breakpoint-not-large) {
  .dn-nxl {              display: none; }
  .di-nl {              display: inline; }
  .db-nl {              display: block; }
  .dib-nl {             display: inline-block; }
  .dit-nl {             display: inline-table; }
  .dt-nl {              display: table; }
  .dtc-nl {             display: table-cell; }
  .dt-row-nl {          display: table-row; }
  .dt-row-group-nl {    display: table-row-group; }
  .dt-column-nl {       display: table-column; }
  .dt-column-group-nl { display: table-column-group; }

  .dt--fixed-nl {
    table-layout: fixed;
    width: 100%;
  }
}

@media (--breakpoint-extra-large) {
  .dn-xl {              display: none; }
  .di-xl {              display: inline; }
  .db-xl {              display: block; }
  .dib-xl {             display: inline-block; }
  .dit-xl {             display: inline-table; }
  .dt-xl {              display: table; }
  .dtc-xl {             display: table-cell; }
  .dt-row-xl {          display: table-row; }
  .dt-row-group-xl {    display: table-row-group; }
  .dt-column-xl {       display: table-column; }
  .dt-column-group-xl { display: table-column-group; }

  .dt--fixed-xl {
    table-layout: fixed;
    width: 100%;
  }
}

@media (--breakpoint-not-extra-large) {
  .dn-nxl {              display: none; }
  .di-nxl {              display: inline; }
  .db-nxl {              display: block; }
  .dib-nxl {             display: inline-block; }
  .dit-nxl {             display: inline-table; }
  .dt-nxl {              display: table; }
  .dtc-nxl {             display: table-cell; }
  .dt-row-nxl {          display: table-row; }
  .dt-row-group-nxl {    display: table-row-group; }
  .dt-column-nxl {       display: table-column; }
  .dt-column-group-nxl { display: table-column-group; }

  .dt--fixed-nxl {
    table-layout: fixed;
    width: 100%;
  }
}